<div *ngIf="visibled" class="container">
    <div class="form-row">
        <div class="col-md-5 mb-3">
            <label>Descrição</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="item.description" placeholder="Descrição"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"
                        (click)="searchMimo(content)">Pesquisar</button>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <label>Quantidade</label>
            <input type="number" class="form-control" [(ngModel)]="item.quantity" placeholder="Quantidade" required>
        </div>
        <div class="form-group col-md-3">
            <label>Preenchimento</label>
            <select class="form-control" [(ngModel)]="item.state">
                <option>Selecione uma opção</option>
                <option>Cheio</option>
                <option>Vazio</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label>Tipo do Papel</label>
            <select class="form-control" [(ngModel)]="item.paper">
                <option>Selecione uma opção</option>
                <option>60Kg</option>
                <option>Fotográfico</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Tamanho</label>
            <select class="form-control" [(ngModel)]="item.height">
                <option selected="selected">Tradicional</option>
            </select>
        </div>
        <div class="col-md-3 mb-3">
            <label>Valor Unitário</label>
            <input type="number" class="form-control" [(ngModel)]="item.unitValue" (change)="calculate()"
                placeholder="Valor Unitário R$">
        </div>
        <div class="col-md-3 mb-3">
            <label>Valor Total</label>
            <input type="number" disabled class="form-control" [(ngModel)]="item.totalValue"
                placeholder="Valor Total R$">
        </div>
        <div class="col-md-3 mb-3 mt-2 d-flex justify-content-end align-items-end">
            <div class="row p-2 ">
                <button type="button" class="btn btn-primary btn-sm mr-2" (click)="addNewItem()">Adicionar</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="cancel(false)">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Resultado da pesquisa</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row d-flex flex-column">
            <div class="form-check">
                <div class="m-3" *ngFor="let mimo of mimos">
                    <input class="form-check-input" name="gridRadios" type="radio" [value]="mimo.nome"
                        (change)="onItemChange($event)">
                    <label class="form-check-label" for="exampleRadios2">
                        {{mimo.nome}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="setItemDescription()">Selecionar</button>
    </div>
</ng-template>